.classpath
.project
.settings
.gradle
eclipsebin

bin
gen
build
out
lib
generated

target
pom.xml.*
release.properties
local.properties

.idea
*.iml
*.ipr
*.iws
classes

obj

.DS_Store

# Special Mkdocs files
docs/4.x
docs/changelog.md
docs/contributing.md
docs/index.md
