<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="okhttp.android.testapp">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".TestApplication"
    android:allowBackup="true"
    android:label="@string/app_name"
    android:supportsRtl="true">

    <activity
      android:name=".TestActivity"
      android:exported="true"
      android:label="@string/title_activity_test">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
