--allow-incomplete-classpath \
-H:+ReportUnsupportedElementsAtRuntime \
-H:InitialCollectionPolicy=com.oracle.svm.core.genscavenge.CollectionPolicy$BySpaceAndTime \
-H:+PrintAnalysisCallTree \
-H:-AddAllCharsets \
-H:+SpawnIsolates \
-H:+ReportExceptionStackTraces \
-H:+StackTrace \
-Dfile.encoding=UTF-8
--enable-http
--enable-https
-H:ReflectionConfigurationFiles=reflect.config
