[
  {
    "name" : "okhttp3.curl.Main",
    "fields" : [
      { "name" : "url", "allowWrite" : true },
      { "name" : "showHttp2Frames", "allowWrite" : true },
      { "name" : "data", "allowWrite" : true },
      { "name" : "method", "allowWrite" : true }
    ],
    "methods" : [
      { "name" : "<init>" }
    ]
  }
]