/*
 * Copyright 2014-2023 JetBrains s.r.o. Use of this source code is governed by the Apache 2.0 license.
 */

:root {
    --dokka-logo-image-url: url('../images/logo-icon.svg');
    --dokka-logo-height: 50px;
    --dokka-logo-width: 50px;
}
