/* http://www.colorhexa.com/487fb9 */

/*** Primary ***/

header,
#subtitle,
a.dl {
  background-color: #48b7b9;
}

.content-nav li.active a,
.content-nav li.active a:hover {
  border-left-color: #48b7b9;
}

/*** One step left on the monochromatic scale ***/

header menu li a:hover,
a.dl:hover {
  background-color: #40a6a7;
}
a {
  color: #40a6a7;
}

/*** Three steps left on the monochromatic scale ***/

a:hover {
  color: #328183;
}


/****************************************************************\
 **** Syntax highlighting styles ********************************
\****************************************************************/

.pln { color: #000; }
.str { color: #399395; }
.kwd { color: #666; }
.com { color: #800; }
.typ { color: #222; }
.lit { color: #666; }
.pun { color: #888; }
.opn { color: #888; }
.clo { color: #888; }
.tag { color: #399395; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
.var { color: #606; }
.fun { color: #f00; }
